.bg-register-image{
background-image: url('https://images.unsplash.com/photo-1489835373123-77857c895b57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80');
  background-size: cover;
  background-position: center;
}